{% extends 'base.html.twig' %}

{% block title %}Connexion - Forums{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center mt-5">
            <h1>Connexion</h1>
            <div class="col col-lg-12 col-md-12 col-sm-12">
                <form action="{{ path('security.login') }}" method="post">
                    {% if error %}
                        <div class="alert alert-danger">Identifiants incorrects !</div>
                    {% endif %}
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="_username" class="form-control" id="email" placeholder="Votre email"
                               value="{{ last_username }}">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="_password" class="form-control" id="password"
                               placeholder="Votre mot de passe">
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="_remember_me" name="_remember_me">
                        <label class="form-check-label" for="_remember_me">Se souvenir de moi</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Connexion</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
