includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
  level: 6
  paths:
    - src
  excludes_analyse:
    - src/Migrations/*
  symfony:
      container_xml_path: 'var/cache/dev/App_KernelDevDebugContainer.xml'
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  ignoreErrors:
      - '#Property [A-z\\_]+::\$[A-z0-9_]+ has no typehint specified.#'
