<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for breadcrumb in get_breadcrumbs() %}
            {% if breadcrumb[1] %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb[1] }}">{{ breadcrumb[0] }}</a></li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb[0] }}</li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
