<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for breadcrumb in get_breadcrumbs() %}
            <li class="breadcrumb-item"><a href="{{ breadcrumb[0] }}">{{ breadcrumb[1] }}</a></li>
        {% endfor %}
        {% if get_active_label() %}
            <li class="breadcrumb-item active" aria-current="page">{{ get_active_label() }}</li>
        {% endif %}
    </ol>
</nav>
