{% set icons = {
    'info': 'info-circle',
    'success': 'check-circle',
    'warning': 'exclamation-circle'
} %}

{% set flashes = app.flashes %}

{% if flashes|length > 0 %}
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-notification toast-container position-fixed position-absolute top-0 end-0 p-3">
            {% for label, messages in flashes %}
                {% for message in messages %}
                    <div class="toast toast-autoshow" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="4000">
                        <div class="toast-header">
                            <strong class="me-auto"><i
                                        class="fas fa-{{ icons[label] ?? 'times-circle' }}"></i> {{ message['title'] }}</strong>
                            <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="{% trans %}Close{% endtrans %}">
                            <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="toast-body">
                            {{ message['content'] }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endif %}
