{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% if is_granted('ROLE_MODERATOR') %}
        {{ encore_entry_link_tags('modnav') }}
    {% endif %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_MODERATOR') %}
        <div class="mod_nav">
            <ul>
                {% block modnav_elements %}{% endblock %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if is_granted('ROLE_MODERATOR') %}
        {{ encore_entry_script_tags('modnav') }}
    {% endif %}
{% endblock %}