{
    servers {
        protocol {
            experimental_http3
        }
    }
}

{$SERVER_NAME}

log

route {
    root * /var/www/html/public
    push
    php_fastcgi php:9000
    encode gzip
    file_server
}
