.mod_nav {
    position: fixed;
    width: 61px;
    top: 50%;
    left: 0;
    -webkit-box-shadow: 2px 2px 3px #999;
    -moz-box-shadow: 2px 2px 3px #999;
    box-shadow: 2px 2px 3px #999;
}

.mod_nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.mod_nav ul li {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    list-style: none;
    width: 100%;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

.mod_nav ul li a {
    font-weight: normal;
    text-decoration: none;
    display: block;
    color: #eee;
    line-height: 61px;
    font-family: Arial, Helvetica, sans-serif;
    height: 61px;
}

.mod_nav i {
    font-size: 18px;
    padding: 20px;
}

.mod_nav ul li:hover i {
    font-size: 22px;
    padding: 18px;
}

.mod_nav {
    background: #1a1a1a;
}


.mod_nav ul li:hover {
    background: #070707;
}