{% extends 'layouts/full-width.html.twig' %}

{% block title %}Catégories - Modification de {{ category.title }}{% endblock %}

{% block content %}
    {% do append_breadcrumb('Admin', path('admin.homepage')) %}
    {% do append_breadcrumb('Catégories', path('admin.category.index')) %}
    {% do append_breadcrumb('Modification') %}

    {{ include('partials/_breadcrumb.html.twig') }}

    <h1>Modifier la catégorie</h1>

    <div class="mt-3">
        {{ include('partials/_simple_form.twig', {button_label: 'Modifier'}) }}
    </div>
{% endblock %}
