{% extends 'layouts/full-width.html.twig' %}

{% block title %}Catégories - Ajouter{% endblock %}

{% block content %}
    {% do append_breadcrumb(path('admin.homepage'), 'Admin') %}
    {% do append_breadcrumb(path('admin.category.index'), 'Catégories') %}
    {% do set_active_label('Ajout') %}

    {{ include('partials/_breadcrumb.html.twig') }}

    <h1>Ajouter une catégorie</h1>

    <div class="mt-3">
        {{ include('partials/_simple_form.twig', {button_label: 'Ajouter'}) }}
    </div>
{% endblock %}
