{% extends 'layouts/full-width.html.twig' %}

{% block title %}Edition de votre message{% endblock %}

{% block content %}
    <div class="mb-3">
        <h2 class="text-center">Edition de votre message</h2>
        <p class="text-center">Sujet {{ message.thread.title }}</p>
        {{ include('message/_form_message.html.twig', {button_label: 'Modifier'}) }}
    </div>
{% endblock %}