{% extends 'layouts/full-width.html.twig' %}

{% block title %}{% trans %}Page not found{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Page not found{% endtrans %}</h1>

    <div class="mt-3">
        <p>
            {% trans %}The page you requested was not found.{% endtrans %} You can <a href="{{ path('forum.index') }}">{% trans %}return to the homepage{% endtrans %}</a>.
        </p>
    </div>
{% endblock %}
