{% extends 'layouts/full-width.html.twig' %}

{% block title %}Accès interdit{% endblock %}

{% block content %}
    <h1>Accès interdit</h1>

    <div class="mt-3">
        <p>
            Vous ne disposez pas des autorisations nécessaires pour accéder à cette page. Vous pouvez <a href="{{ path('forums.index') }}">retourner sur l'accueil</a>.
        </p>
    </div>
{% endblock %}
