{% extends 'layouts/full-width.html.twig' %}

{% block title %}Erreur innatendue{% endblock %}

{% block content %}
    <h1>Erreur inatendue</h1>

    <div class="mt-3">
        <p>
            Une erreur innatendue s'est produite. Vous pouvez <a href="{{ path('forums.index') }}">retourner sur l'accueil</a>.
        </p>
    </div>
{% endblock %}
