{% extends 'layouts/full-width.html.twig' %}

{% block title %}{% trans %}Unexpected error{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Unexpected error{% endtrans %}</h1>

    <div class="mt-3">
        <p>
            {% trans %}An unexpected error has occurred{% endtrans %}. {% trans %}You can{% endtrans %} <a href="{{ path('forum.index') }}">{% trans %}return to the homepage{% endtrans %}</a>.
        </p>
    </div>
{% endblock %}
