{% extends 'layouts/full-width.html.twig' %}

{% block title %}{% trans %}Forums{% endtrans %}{% endblock %}

{% block content %}
    {% do append_breadcrumb('Admin'|trans, path('admin.homepage')) %}
    {% do append_breadcrumb('Forums'|trans) %}

    {{ include('partials/_breadcrumb.html.twig') }}

    <h1>
        <span>{% trans %}Forums{% endtrans %}</span>
        <button class="pull-right btn btn-primary btn-sm disabled" title="{% trans %}Add{% endtrans %}">
            <i class="fas fa-plus"></i>
        </button>
    </h1>

    <div class="mt-3">
        <table class="table table-sm">
            <thead>
            <tr class="d-flex">
                <th class="col-2">{% trans %}Position{% endtrans %}</th>
                <th class="col-5">{% trans %}Title{% endtrans %}</th>
                <th class="col-3">{% trans %}Category{% endtrans %}</th>
                <th class="col-2">{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody class="thead-light">
                {% for forum in forums %}
                    <tr class="d-flex">
                        <td class="col-2">{{ forum.position }}</td>
                        <td class="col-5">{{ forum.title }}</td>
                        <td class="col-3">{{ forum.category.title }}</td>
                        <td class="col-3">
                            <a class="btn btn-primary btn-sm disabled" href="#" title="{% trans %}Edit{% endtrans %}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <button class="btn btn-danger btn-sm disabled" title="{% trans %}Delete{% endtrans %}">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
