{% extends 'layouts/full-width.html.twig' %}

{% block title %}Catégories - Ajouter{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('panel.homepage') }}">Panel</a></li>
            <li class="breadcrumb-item"><a href="{{ path('panel.categories') }}">Catégories</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajout</li>
        </ol>
    </nav>

    <h1>Ajouter une catégorie</h1>

    <div class="mt-3">
        {{ include('panel/categories/_form_category.html.twig', {button_label: 'Ajouter'}) }}
    </div>
{% endblock %}
