{% if forum.lock %}
    <li>
        <a href="{{ path('forum.unlock', {'slug': forum.slug}) }}" data-bs-toggle="tooltip" data-bs-placement="right"
           title="{% trans %}Open the forum{% endtrans %}">
            <i class="fas fa-lock-open rotate"></i>
        </a>
    </li>
{% else %}
    <li>
        <a href="{{ path('forum.lock', {'slug': forum.slug}) }}" data-bs-toggle="tooltip" data-bs-placement="right"
           title="{% trans %}Close the forum{% endtrans %}">
            <i class="fas fa-lock rotate"></i>
        </a>
    </li>
{% endif %}
